<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<style>
body {
/* 	background-color: #fce043; */
/* 	background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%); */
}
</style>


<table  class="ui compact celled teal table">
  <thead>
  <tr>
    <th>Id</th>
    <th>股票名稱</th>
    <th>股票代碼</th>
    <th>更新時間</th>
    <th>建立時間</th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="type, iterStat : ${response.data.dataList}">
    	<td th:text="${iterStat.count}">66</td>
    	<td th:text="${type.stockName}">88</td>
    	<td th:text="${type.stockNo}">88</td>
    	<td th:text="${type.updateTime}">88</td>
    	<td th:text="${type.createTime}">88</td>
  	</tr>
  </tbody>
  <tfoot>
<!--   <tr> -->
<!--     <th colspan="7"> -->
<!--       <div class="ui mini pagination menu"  > -->
<!--         <div class="item"><a th:href="@{/admin/types}">首頁</a></div> -->
<!--         <div class="item"><a th:href="@{/admin/types(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一頁</a></div> -->
<!--         <div class="item"><a th:href="@{/admin/types(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一頁</a></div> -->
<!--         <div class="item"><a th:href="@{/admin/types(pagenum=${pageInfo.pages})}">尾頁</a></div> -->
<!--       </div> -->
<!--       <a href="#" th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a> -->
<!--     </th> -->
<!--   </tr> -->
  </tfoot>
</table>

<div class="ui segment m-inline-block">
<!--   <p >當前第<span th:text="${response.data.pageNum}"></span>頁，總<span th:text="${response.data.totalRows}/${response.data.totalPage}"></span>頁，共<span th:text="${response.data.totalRows}"></span>條記錄</p> -->
  <p >共<span th:text="${response.data.totalRows}"></span>條記錄</p>
</div>

</html>
